/*Common Shared styles */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" <width>;
}

/* nav releted style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);

    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.orange {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: brown;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 16px 35px;
}

/* header related style */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.pro-pic {

    width: 584px;
    height: 676px;
    flex-shrink: 0;
}


.banner-gretting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;

}

.abc {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-top: 20px;
    width: 585px;
}

/* background-image: url('../images/developer.png'); */
/* main releted style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;

}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.about-info-conteiner {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: var(--Dark-03, #757575);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    /* 150% */

}

.info-description {
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

#what-i-do-description {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;

}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* resume section style */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-container {
    display: flex;
    gap: 60px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin: 10px;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.resume-container hr {
    /* margin: 30px 60px; */
}

/* button */
.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer section */
footer {
    display: flex;
    background: #FFF8F3;
    margin-top: 113px;
    padding: 130px 200px;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

.footer-description {
    width: 562px;
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    /* 175% */
}

.form input[type="text"],
.form input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;

}

.social-links a {
    padding-right: 25px;
    width: 24px;
    height: 24px;

}